/target

# Secrets and environment configurations
.env
.env.*
!.env.example
*.pem
*.key
*.pfx

# IDE and Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
[Dd]esktop.ini
.DS_Store
